{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'frontend/construct/materialize/css/bootstrap.css' %}" type="text/css" rel="stylesheet"
    media="screen,projection" />
  <link rel="stylesheet" href="{% static 'frontend/construct/mystyle.css' %}">

  <title>hello!</title>
</head>

<body>
  <header>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">Otsumami-Recommender</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li><a href="index.html">HOME</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <div class="contents back bgmask">
    <div class="container">
      <div class="front">
        <div class="catchblock">
          <div class="catch brownfont">
            <h1>今日のおつまみ、<br />何にしよう。</h1>
            <br />
            <p class="title_sentence brownfont">
              今日飲む予定のお酒に合わせて、<br />
              AIがおつまみを提案。<br />
              <br />
              写真を撮って質問に答えるだけで、<br />
              あなたの今日のおつまみが決まります！<br />
              <br />
            <ul class="top_menu">
              <li><a href="#howto" class="brownbtn whitefont">使い方</a></li>
              <li><a href="submit" class="brownbtn whitefont">おつまみを決める</a></li>
            </ul>
            </p>

          </div>
        </div>
      </div>
    </div>
    <div class="howtouse">
      <div id="howto">
        <h1>HOW TO USE</h1>
        <h2>使い方</h2>
        <ul class="demo">
          <li>①お酒の写真を撮って…… <br />
            <img src="{% static 'frontend/img/top/demo.png' %}"></li><br />
          <li>②n問の質問に答えるだけ！<br />
            <img src="{% static 'frontend/img/top/quest.png' %}"></li><br />
        </ul>
        <br />
      </div>
    </div>
  </div>



  <p id="pageTop">
    <a href="#">
      <i class="fas fa-arrow-up"></i><br />
      Top
    </a>
  </p>




  <div class="footer">
    <div class="infooter">
      <a href="#">
        <p>©️otsumami recomender</p>
      </a>
    </div>
  </div>


  <script src="{% static 'frontend/main.js' %}"></script>
  <script src="{% static 'frontend/construct/materialize/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'frontend/construct/mystyle.js' %}"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/a4e775296c.js" crossorigin="anonymous"></script>
</body>

</html>