{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'frontend/construct/materialize/css/materialize.css' %}" type="text/css" rel="stylesheet"
    media="screen,projection" />
  <link rel="stylesheet" href="{% static 'frontend/construct/mystyle.css' %}">

  <title>hello!</title>
</head>

<body>
  <nav class="brown" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Recommender</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">top</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">top</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="back bgmask">
    <section class="section">
      <div class="container">
        <div id="app">
          <!-- React -->
        </div>
      </div>
    </section>


    <div id="howto" class="howtouse">
      nya

    </div>
  </div>


  <script src="{% static 'frontend/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'frontend/construct/materialize/js/materialize.min.js"></script>

</body>

</html>